<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="projet2BaseDeDonnees3.Properties.Settings.BD5B6TP2Marrero_KoumaConnectionString"
            connectionString="Data Source=tcp:424sql.cgodin.qc.ca,5433;Initial Catalog=BD5B6TP2Marrero_Kouma;Persist Security Info=True;User ID=5B6Marrero;Password=Linuxmaster134"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>